.row
  .large-6.columns.animated.bounceInLeft
    = search_form_for @search do |f|
      %fieldset
        %legend SEARCH!
        = f.label :location_start_cont, "Starting Location"
        = f.text_field :location_start_cont
    %ul
    - @trips.each do |trip|
      - if current_user.id != trip.user_id
        %li
          - date = /\d\d\d\d-\d\d-\d\d/.match(trip.date.to_s)
          %a.showGeo{"data-dropdown" => "drop#{trip.id}",:id => "#{trip.id}", :href => "#"} #{date} <span>#{trip.cost}</span> #{trip.location_start} --> #{trip.location_end}
        .f-dropdown.large{"data-dropdown-content" => "", :id => "drop#{trip.id}"}
          %a{href: "/users/#{trip.user_id}"}
            %h4 Trip Creator
          %h4{:href => "#"} <span>Vehicle:</span> #{trip.vehicle}
          %h4{:href => "#"} <span>Est. Gas Cost:</span> #{trip.cost}
          %h4{:href => "#"} <span>Distance:</span> #{trip.distance}
          %h4{:href => "#"} <span>Travel Time:</span> #{trip.time}
          %h4{:href => "#"} <span>Seats Available</span> #{trip.seats_available}

          = simple_form_for :reservation, :url => {:action => :create, :controller => 'reservations'} do |f|
            = f.input :trip_id, :as => :hidden, :input_html => { :value => "#{trip.id}" }
            = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
            = f.button :submit, class: 'button button-block button-rounded button-royal button-large'

          %label.hidden{:class => "latStart#{trip.id}"} #{trip.lat_local}
          %label.hidden{:class => "lngStart#{trip.id}"} #{trip.lng_local}
          %label.hidden{:class => "latEnd#{trip.id}"} #{trip.lat_dest}
          %label.hidden{:class => "lngEnd#{trip.id}"} #{trip.lng_dest}
          %label.tripId #{trip.id}

  .large-6.columns.animated.bounceInRight
    #map.no_lr_margin
