#map.animated.fadeInDownBig
#travel
  #travel_info
.row
  .large-4.columns.animated.fadeInUpBig
    #instructions
      %h2 Instructions
      %ol
        %li Enter Starting Location
        %li Enter Destination
        %li Click 'Geocode' button
        %a{:id => 'geocode', :class => 'button button-3d-action button-pill'} Geocode

  .large-8.columns.animated.fadeInRightBig
    = simple_form_for :trip, :url => {:action => :create} do |f|
      %fieldset
        .row.trip-info
          .large-4.columns
            = f.input :location_start, label: 'Starting Location'
            = f.hidden_field :lat_local
            = f.hidden_field :lng_local
            = f.input :location_end, label: 'Destination'
            = f.hidden_field :lat_dest
            = f.hidden_field :lng_dest
            = f.hidden_field :distance
            = f.hidden_field :time
          .large-4.columns
            = f.input :vehicle
            = f.input :mpg
            = f.input :seats_available, :collection => 1..7
          .large-4.columns
            = f.input :date, as: :date

        = f.button :submit, class: 'button button-block button-rounded button-royal button-large'
