.row
  .large-4.columns.animated.fadeInLeft
    %h1 #{@user.username}'s Profile
    .image
      = image_tag @user.image_url.to_s, class: 'profile-image'

    %h4= @user.email

    /- if current_user == @user

  .large-8.columns.animated.fadeInRight
    -if current_user
      -if (current_user == @user)
        %h2 Welcome #{@user.username}!
        %button.button.button-3d-action.button-large Edit Profile Page
        %fieldset
          - if @user.trips.count > 0
            %h4 Number of Trips: #{@user.trips.count}
            %table
              %tr
                %th Date
                %th Start Location
                %th End Location
                %th Distance
                %th Est. Cost
              - @user.trips.each do |a|
                /- if Time.now < a.date
                - b=/\d\d\d\d-\d\d-\d\d/.match(a.date.to_s)
                %tr
                  %td #{b}
                  %td #{a.location_start}
                  %td #{a.location_end}
                  %td #{a.distance}
                  %td #{a.cost}
                  %td= link_to 'Destroy', a, method: :delete

    %h3 About me:
    %h3 What I like to listen to on road trips:
