.row
  .large-2.columns.animated.fadeInLeft
    %h1 #{@user.username}'s Profile
    .image
      = image_tag @user.image_url.to_s, class: 'profile-image'

    %h4= @user.email

    /- if current_user == @user

  .large-8.columns.animated.fadeInRight
    -if current_user
      %h2 Welcome, #{@user.username}!
      %button.button.button-3d-action.button-large Edit Profile Page
      %fieldset
        - if @my_trips.length > 0
          %h4 #{@user.username}'s Trips
          %table
            %tr
              %th Date
              %th Start Location
              %th End Location
              %th Distance
              %th Est. Cost
              - @my_trips.each do |a|
                -if a
                  /- if Time.now < a.date
                  - b=/\d\d\d\d-\d\d-\d\d/.match(a.date.to_s)
                  %tr
                    %td #{b}
                    %td #{a.location_start}
                    %td #{a.location_end}
                    %td #{a.distance}
                    %td #{a.cost}
                    - if a.user_id.to_s == current_user.id.to_s
                      %td= link_to 'Delete', a, method: :delete, :class => "button button-3d-caution button-tiny"

        - if @user.trips.count > 0
          %h4 Number of Trips Reserved: #{@user.trips.count}
          %table
            %tr
              %th Date
              %th Start Location
              %th End Location
              %th Distance
              %th Est. Cost
              - @user_reservations.each do |a|
                -if a
                  /- if Time.now < a.date
                  - b=/\d\d\d\d-\d\d-\d\d/.match(a.date.to_s)
                  %tr
                    %td #{b}
                    %td #{a.location_start}
                    %td #{a.location_end}
                    %td #{a.distance}
                    %td #{a.cost}
                    - if a.user_id.to_s == current_user.id.to_s
                      %td
                        %a{class: "button button-3d-caution button-tiny", controller: "reservations", "data-method" => "delete", href: "/reservations/#{a.id}", rel: "nofollow"} Delete



    %h3 About me:
    %h3 What I like to listen to on road trips:
