.top-bar
  %ul.title-area
    %li.name= link_to "Copilot!", root_path, id: "logo"
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li Logged in as <strong> #{current_user.email} </strong>
        %li= link_to "profile", current_user
        %li= link_to 'Edit Profile', edit_user_registration_path
        %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li= link_to "Sign up", new_user_registration_path
        %li= link_to "Login", new_user_session_path
        %li= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
  /End top bar
