!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Copilot
    = favicon_link_tag 'favicon.ico'
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAmN0r1eJV2qHS3UZUpS8ytISU7etkg0ZI", :type => "text/javascript"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    #container
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
  = javascript_include_tag "application"
